services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio_data:/data
    networks:
      - minio-net

  minio-init:
    image: quay.io/minio/mc:latest
    depends_on:
      - minio
    networks:
      - minio-net
    environment:
      MC_HOST_minio: 'http://minioadmin:minioadmin123@minio:9000'
    entrypoint: >
      /bin/sh -c "
      echo 'Waiting for MinIO...' ;
      until (mc ls minio >/dev/null 2>&1); do sleep 1; done ;
      mc mb -p minio/uploads || true ;
      mc anonymous set download minio/uploads ;
      echo 'MinIO init done' ;
      "
    restart: 'no'

volumes:
  minio_data:

networks:
  minio-net:
